DealnetPortal.Api.Integration/Service References/SMSSubscriptionManagement/SubscriptionManagementServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.media.impact.com/subscription/1.0/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SubscriptionManagementServiceService" targetNamespace="http://api.media.impact.com/subscription/1.0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://api.media.impact.com/subscription/1.0/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="addTags" type="tns:addTags" />
      <xs:element name="addTagsResponse" type="tns:addTagsResponse" />
      <xs:element name="cancelAllSubscriptions" type="tns:cancelAllSubscriptions" />
      <xs:element name="cancelAllSubscriptionsResponse" type="tns:cancelAllSubscriptionsResponse" />
      <xs:element name="cancelShortCodeSubscriptions" type="tns:cancelShortCodeSubscriptions" />
      <xs:element name="cancelShortCodeSubscriptionsResponse" type="tns:cancelShortCodeSubscriptionsResponse" />
      <xs:element name="cancelSubscription" type="tns:cancelSubscription" />
      <xs:element name="cancelSubscriptionResponse" type="tns:cancelSubscriptionResponse" />
      <xs:element name="getSubscription" type="tns:getSubscription" />
      <xs:element name="getSubscriptionResponse" type="tns:getSubscriptionResponse" />
      <xs:element name="getSubscriptions" type="tns:getSubscriptions" />
      <xs:element name="getSubscriptionsResponse" type="tns:getSubscriptionsResponse" />
      <xs:element name="isSubscribed" type="tns:isSubscribed" />
      <xs:element name="isSubscribedResponse" type="tns:isSubscribedResponse" />
      <xs:element name="removeTags" type="tns:removeTags" />
      <xs:element name="removeTagsResponse" type="tns:removeTagsResponse" />
      <xs:element name="startSubscription" type="tns:startSubscription" />
      <xs:element name="startSubscriptionResponse" type="tns:startSubscriptionResponse" />
      <xs:complexType name="getSubscription">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscription" type="tns:subscriptionRefDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="subscriptionRefDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="contentService" type="tns:contentServiceIdDTO" />
          <xs:element minOccurs="0" name="reference" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:complexType>
      <xs:complexType name="contentServiceIdDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="reference" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" />
      </xs:complexType>
      <xs:complexType name="getSubscriptionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:getSubscriptionResultDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSubscriptionResultDTO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:statusCodeResultv1">
            <xs:sequence>
              <xs:element minOccurs="0" name="subscription" type="tns:subscriptionResultDTO" />
            </xs:sequence>
            <xs:attribute name="statusMessage" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="statusCodeResultv1" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:statusCodeResult">
            <xs:sequence />
            <xs:attribute name="status" type="xs:int" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="statusCodeResult" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="subscriptionResultDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="reference" type="xs:string" />
          <xs:element name="contentService" type="tns:contentServiceRefDTO" />
          <xs:element minOccurs="0" name="subscriptionCode" type="xs:string" />
          <xs:element minOccurs="0" name="tags" type="tns:tagsResultDTO" />
          <xs:element name="state" type="xs:string" />
          <xs:element minOccurs="0" name="nextState" type="xs:string" />
          <xs:element name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="nextAnniversaryDate" type="xs:string" />
          <xs:element minOccurs="0" name="cancelType" type="xs:string" />
          <xs:element minOccurs="0" name="cancelReason" type="xs:string" />
          <xs:element minOccurs="0" name="affiliateCode" type="xs:string" />
          <xs:element name="origin" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="phone" type="xs:string" use="required" />
        <xs:attribute name="carrierCode" type="xs:string" use="required" />
        <xs:attribute name="locale" type="xs:string" />
        <xs:attribute name="id" type="xs:long" />
      </xs:complexType>
      <xs:complexType name="contentServiceRefDTO">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="reference" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" />
      </xs:complexType>
      <xs:complexType name="tagsResultDTO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="restrictTags" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="cancelAllSubscriptions">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscription" type="tns:cancelAllSubscriptionsDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelAllSubscriptionsDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cancelReason" type="xs:string" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="cancelImmediately" type="xs:boolean" />
        <xs:attribute name="carrierCode" type="xs:string" />
        <xs:attribute name="disableOptOutRequestLogging" type="xs:boolean" />
        <xs:attribute name="phone" type="xs:string" />
        <xs:attribute name="sendMessages" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="cancelAllSubscriptionsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:subscriptionActionResultDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="subscriptionActionResultDTO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:statusCodeResultv1">
            <xs:sequence>
              <xs:element minOccurs="0" name="subscriptions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="subscription" type="tns:subscriptionResultDTO" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="statusMessage" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="cancelShortCodeSubscriptions">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscription" type="tns:cancelShortCodeSubscriptionsDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelShortCodeSubscriptionsDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cancelReason" type="xs:string" />
          <xs:element name="shortCode" type="xs:string" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="cancelImmediately" type="xs:boolean" />
        <xs:attribute name="carrierCode" type="xs:string" />
        <xs:attribute name="disableOptOutRequestLogging" type="xs:boolean" />
        <xs:attribute name="phone" type="xs:string" />
        <xs:attribute name="sendMessages" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="cancelShortCodeSubscriptionsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:subscriptionActionResultDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isSubscribed">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscription" type="tns:subscriptionDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="subscriptionDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="reference" type="xs:string" />
          <xs:element name="contentService" type="tns:contentServiceIdDTO" />
          <xs:element minOccurs="0" name="subscriptionCode" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="phone" type="xs:string" />
        <xs:attribute name="id" type="xs:long" />
      </xs:complexType>
      <xs:complexType name="isSubscribedResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:isSubscribedResultDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isSubscribedResultDTO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:statusCodeResultv1">
            <xs:sequence>
              <xs:element minOccurs="0" name="subscription" type="tns:subscriptionStatusDTO" />
            </xs:sequence>
            <xs:attribute name="statusMessage" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="subscriptionStatusDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="reference" type="xs:string" />
          <xs:element minOccurs="0" name="subscriptionCode" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="carrierCode" type="xs:string" />
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="phone" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="addTags">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscription" type="tns:modifyTagsDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modifyTagsDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="reference" type="xs:string" />
          <xs:element name="contentService" type="tns:contentServiceIdDTO" />
          <xs:element name="tags" type="tns:tagsDTO" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
          <xs:element minOccurs="0" name="subscriptionCode" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="carrierCode" type="xs:string" />
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="phone" type="xs:string" />
        <xs:attribute name="sendMessages" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="tagsDTO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="createIfNotExist" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="addTagsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:subscriptionActionResultDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelSubscription">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscription" type="tns:cancelSubscriptionDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelSubscriptionDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="reference" type="xs:string" />
          <xs:element minOccurs="0" name="cancelReason" type="xs:string" />
          <xs:element name="contentService" type="tns:contentServiceIdDTO" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
          <xs:element minOccurs="0" name="subscriptionCode" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="cancelImmediately" type="xs:boolean" />
        <xs:attribute name="carrierCode" type="xs:string" />
        <xs:attribute name="disableOptOutRequestLogging" type="xs:boolean" />
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="locale" type="xs:string" />
        <xs:attribute name="phone" type="xs:string" />
        <xs:attribute name="sendMessages" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="cancelSubscriptionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:subscriptionActionResultDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="startSubscription">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscription" type="tns:startSubscriptionDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="startSubscriptionDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="reference" type="xs:string" />
          <xs:element name="contentService" type="tns:contentServiceIdDTO" />
          <xs:element minOccurs="0" name="tags" type="tns:tagsDTO" />
          <xs:element minOccurs="0" name="affiliateCode" type="xs:string" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
          <xs:element minOccurs="0" name="subscriptionCode" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="carrierCode" type="xs:string" />
        <xs:attribute name="locale" type="xs:string" />
        <xs:attribute name="phone" type="xs:string" />
        <xs:attribute name="sendMessages" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="startSubscriptionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:subscriptionActionResultDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="removeTags">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscription" type="tns:modifyTagsDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="removeTagsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:subscriptionActionResultDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSubscriptions">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscriber" type="tns:subscriberDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="subscriberDTO">
        <xs:sequence />
        <xs:attribute name="includeClosed" type="xs:boolean" />
        <xs:attribute name="phone" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="getSubscriptionsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:getSubscriptionsResultDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSubscriptionsResultDTO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:statusCodeResultv1">
            <xs:sequence>
              <xs:element minOccurs="0" name="subscriptions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="subscription" type="tns:subscriptionResultDTO" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="statusMessage" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getSubscription">
    <wsdl:part name="parameters" element="tns:getSubscription" />
  </wsdl:message>
  <wsdl:message name="cancelSubscriptionResponse">
    <wsdl:part name="parameters" element="tns:cancelSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="addTagsResponse">
    <wsdl:part name="parameters" element="tns:addTagsResponse" />
  </wsdl:message>
  <wsdl:message name="cancelAllSubscriptions">
    <wsdl:part name="parameters" element="tns:cancelAllSubscriptions" />
  </wsdl:message>
  <wsdl:message name="getSubscriptionResponse">
    <wsdl:part name="parameters" element="tns:getSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="isSubscribed">
    <wsdl:part name="parameters" element="tns:isSubscribed" />
  </wsdl:message>
  <wsdl:message name="addTags">
    <wsdl:part name="parameters" element="tns:addTags" />
  </wsdl:message>
  <wsdl:message name="startSubscriptionResponse">
    <wsdl:part name="parameters" element="tns:startSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="startSubscription">
    <wsdl:part name="parameters" element="tns:startSubscription" />
  </wsdl:message>
  <wsdl:message name="cancelShortCodeSubscriptionsResponse">
    <wsdl:part name="parameters" element="tns:cancelShortCodeSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="getSubscriptions">
    <wsdl:part name="parameters" element="tns:getSubscriptions" />
  </wsdl:message>
  <wsdl:message name="removeTagsResponse">
    <wsdl:part name="parameters" element="tns:removeTagsResponse" />
  </wsdl:message>
  <wsdl:message name="isSubscribedResponse">
    <wsdl:part name="parameters" element="tns:isSubscribedResponse" />
  </wsdl:message>
  <wsdl:message name="getSubscriptionsResponse">
    <wsdl:part name="parameters" element="tns:getSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="cancelShortCodeSubscriptions">
    <wsdl:part name="parameters" element="tns:cancelShortCodeSubscriptions" />
  </wsdl:message>
  <wsdl:message name="cancelSubscription">
    <wsdl:part name="parameters" element="tns:cancelSubscription" />
  </wsdl:message>
  <wsdl:message name="cancelAllSubscriptionsResponse">
    <wsdl:part name="parameters" element="tns:cancelAllSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="removeTags">
    <wsdl:part name="parameters" element="tns:removeTags" />
  </wsdl:message>
  <wsdl:portType name="subscriptionManagementAPI">
    <wsdl:operation name="getSubscription">
      <wsdl:input name="getSubscription" message="tns:getSubscription" />
      <wsdl:output name="getSubscriptionResponse" message="tns:getSubscriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelAllSubscriptions">
      <wsdl:input name="cancelAllSubscriptions" message="tns:cancelAllSubscriptions" />
      <wsdl:output name="cancelAllSubscriptionsResponse" message="tns:cancelAllSubscriptionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelShortCodeSubscriptions">
      <wsdl:input name="cancelShortCodeSubscriptions" message="tns:cancelShortCodeSubscriptions" />
      <wsdl:output name="cancelShortCodeSubscriptionsResponse" message="tns:cancelShortCodeSubscriptionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="isSubscribed">
      <wsdl:input name="isSubscribed" message="tns:isSubscribed" />
      <wsdl:output name="isSubscribedResponse" message="tns:isSubscribedResponse" />
    </wsdl:operation>
    <wsdl:operation name="addTags">
      <wsdl:input name="addTags" message="tns:addTags" />
      <wsdl:output name="addTagsResponse" message="tns:addTagsResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelSubscription">
      <wsdl:input name="cancelSubscription" message="tns:cancelSubscription" />
      <wsdl:output name="cancelSubscriptionResponse" message="tns:cancelSubscriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="startSubscription">
      <wsdl:input name="startSubscription" message="tns:startSubscription" />
      <wsdl:output name="startSubscriptionResponse" message="tns:startSubscriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeTags">
      <wsdl:input name="removeTags" message="tns:removeTags" />
      <wsdl:output name="removeTagsResponse" message="tns:removeTagsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSubscriptions">
      <wsdl:input name="getSubscriptions" message="tns:getSubscriptions" />
      <wsdl:output name="getSubscriptionsResponse" message="tns:getSubscriptionsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubscriptionManagementServiceServiceSoapBinding" type="tns:subscriptionManagementAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSubscription">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSubscription">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSubscriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelAllSubscriptions">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cancelAllSubscriptions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelAllSubscriptionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelShortCodeSubscriptions">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cancelShortCodeSubscriptions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelShortCodeSubscriptionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isSubscribed">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="isSubscribed">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="isSubscribedResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTags">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addTags">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addTagsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelSubscription">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cancelSubscription">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelSubscriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startSubscription">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="startSubscription">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="startSubscriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeTags">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeTags">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeTagsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubscriptions">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSubscriptions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSubscriptionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscriptionManagementServiceService">
    <wsdl:port name="subscriptionManagementAPIPort" binding="tns:SubscriptionManagementServiceServiceSoapBinding">
      <soap:address location="http://impact3.jumptxt.pvt:8380/media-ws/subscription-management-api/1.0" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>